* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

input::placeholder,
textarea::placeholder {
  color: #333;
}

input:focus,
textarea:focus {
  border-color: #00ff8844 !important;
}
